.table-view {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.post-tag {
    width: 200px;
}

.blog-post {

}

.blog-post article {
    position: relative;
    min-width: 650px;
    min-height: 300px;
    margin: 20px;
    background: green;
}

.blog-post article div {
    background: rgb(180, 50, 50);
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 2px;
    padding: 2px;
}