<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My PChome</title>
    {% load staticfiles %}
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

    <style>
        body {
            background: rgba(3, 27, 39, 0.85);
        }
    </style>

</head>
<body>

    <!-- a headline -->
    <div class="jumbotron">
        <div class="container">
            <h1>An app for search laptop</h1>
            feel happy to use..
        </div>
    </div>


    <!-- a pop-up window -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">進階搜尋功能</h4>
            </div>

            <div class="modal-body">
                <!-- The form is placed inside the body of modal -->
                <form action='/search/' id="searchForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">商品名</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="prodName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">記憶體</label>
                        <div class="col-md-5">
                            <select name="ram_num" class="form-control">
                                <option value='none'>不限</option>
                                <option value="1">1(GB)以上</option>
                                <option value="2">2(GB)以上</option>
                                <option value="3">3(GB)以上</option>
                                <option value="4">4(GB)以上</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">螢幕尺寸</label>
                        <div class="col-md-5">
                            <select name="screen_num" class="form-control">
                                <option value='none'>不限</option>
                                <option value="10-12">10-12(吋)</option>
                                <option value="12-14">12-14(吋)</option>
                                <option value="14-16">14-16(吋)</option>
                                <option value="16">16(吋)以上</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">價錢</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="priceFrom" />
                        </div>
                        <label class="col-md-1 control-label">至</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="priceTo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Go</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
    <!-- end pop-up window -->


    <div class="container">

        <!-- search bar -->
        <div class="form-group">
            <div class="input-group">
                <input id="title_search_word" type="text" class="form-control">
                <div class="input-group-btn">
                    <!-- Button and dropdown menu -->
                    <button id="title_search_btn" class="btn btn-default" type="button">
                        <span class='glyphicon glyphicon-search'></span>
                    </button>

                    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- end search bar -->

        {% block webcontent %}


        {% endblock %}

    </div>
    <!-- end container -->

</body>
</html>


<script>

(function($){

    function search(){
        content = $('#title_search_word').val();
        $.ajax({
            type: "POST",
            url: "/search/",
            data: {'search_word': content },
            success: function(){
                console.log('yes');
                location.href = '/show_prod/1/'
            }
        });
    }

    //bind search bar's behavior
    $('#title_search_btn').on('click', function(event){
            //get the search keyword, and then send it to server by method post
            search();

    });

    $('#title_search_word').on('change', function(event){
            if(event.which == 13){
                //bind enter key
                search();
            }
    });


}(jQuery));

</script>

{% block script %}
<!-- implement other js function here -->
{% endblock %}