{% extends "base.html" %}

{% block webcontent %}

<div class="page-header">
  <h1 style="color: rgb(200, 200, 200);">Feature</h1>
</div>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>搜尋筆電商品資料</h3>
        <p>在search bar中輸入你要的商品名，進行搜索</p>

      </div>
      <img class="img-rounded" src="/static/fe1.jpg" alt="pciture here">
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>進階搜索功能</h3>
        <p>請點選search bar旁的<span class="glyphicon glyphicon-th-list"></span>圖示 </p>

      </div>
      <img class="img-rounded" src="/static/fe2.jpg" alt="pciture here">
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>適用於mobile或PC平台</h3>
        <p>use RWD，來設計網站</p>

      </div>
      <img class="img-rounded" src="/static/fe3.jpg" alt="pciture here">
    </div>
  </div>

</div>

{% endblock %}